#include "pswvg.h"
#include <C:\Borland\BCC55\Include\windows.h>
#include <C:\Borland\BCC55\Include\stdio.h>

GENERIC ICON  DISCARDABLE "PSWVG2.ICO"

MAINWINDOW DIALOG 200, 85, 210, 95
EXSTYLE WS_EX_DLGMODALFRAME | 0x400L
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU
CAPTION "PSWVG 1.0 - Coded by PetiK"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "Generate a VBS Worm",VBS_WORM,15,10,85,40, WS_GROUP|WS_TABSTOP
 DEFPUSHBUTTON "Generate an HTML Virus",HTML_VIRUS,110,10,85,40, WS_GROUP|WS_TABSTOP
 DEFPUSHBUTTON "ABOUT",IDM_ABOUT,15,60,85,15, WS_GROUP|WS_TABSTOP
 DEFPUSHBUTTON "EXIT",IDM_CLOSE,110,60,85,15, BS_DEFPUSHBUTTON|WS_GROUP|WS_TABSTOP
 LTEXT "",WEL,15,83,220,13
}

WORMWINDOW DIALOG 200, 85, 180, 200
EXSTYLE WS_EX_DLGMODALFRAME | 0x400L
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU
CAPTION "PSWVG 1.0 - VBS Worm generator"
FONT 8, "MS Sans Serif"
{
 LTEXT "Name of Worm :",ID_NAME,14,17,60,11, WS_GROUP | WS_TABSTOP
 LTEXT "Author :",ID_AUTHOR,14,32,60,11, WS_GROUP | WS_TABSTOP
 EDITTEXT IDM_NAME,69,17,90,12,ES_AUTOHSCROLL|ES_LEFT
 EDITTEXT IDM_AUTHOR,69,32,90,12,ES_AUTOHSCROLL|ES_LEFT
 GROUPBOX "Informations",-1,9,5,160,47,WS_GROUP | WS_TABSTOP

 LTEXT "Copy Name : ",ID_COPY,14,70,60,11,WS_GROUP | WS_TABSTOP
 LTEXT "StartUp Regedit :",ID_REG,14,85,60,11,WS_GROUP | WS_TABSTOP
 EDITTEXT IDM_COPY,69,70,90,12,WS_GROUP | WS_TABSTOP
 EDITTEXT IDM_REG,69,85,90,12,WS_GROUP | WS_TABSTOP
 GROUPBOX "Copy Worm",-1,9,58,160,45,WS_GROUP | WS_TABSTOP

 LTEXT "Subject :",ID_SUBJECT,14,123,60,11,WS_GROUP | WS_TABSTOP
 LTEXT "Body :",ID_BODY,14,135,60,11,WS_GROUP | WS_TABSTOP
 EDITTEXT IDM_SUBJECT,69,123,90,12,ES_AUTOHSCROLL|WS_GROUP | WS_TABSTOP
 EDITTEXT IDM_BODY,69,138,90,12,ES_AUTOHSCROLL|WS_GROUP | WS_TABSTOP
 GROUPBOX "Spread Worm with Outlook",-1,9,111,160,45,WS_GROUP | WS_TABSTOP

 DEFPUSHBUTTON "Generate",IDM_GENWORM,5,180,80,15, WS_GROUP|WS_TABSTOP
 PUSHBUTTON "EXIT",IDM_CLOSE,93,180,80,15, WS_GROUP|WS_TABSTOP
}

VIRUSWINDOW DIALOG 200, 85, 180, 200
EXSTYLE WS_EX_DLGMODALFRAME | 0x400L
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU
CAPTION "PSWVG 1.0 - HTML Virus generator"
FONT 8, "MS Sans Serif"
{
 LTEXT "Name of Worm :",ID_NAMEV,14,17,60,11, WS_GROUP | WS_TABSTOP
 LTEXT "Author :",ID_AUTHORV,14,32,60,11, WS_GROUP | WS_TABSTOP
 EDITTEXT IDM_NAMEV,69,17,90,12,ES_AUTOHSCROLL|ES_LEFT
 EDITTEXT IDM_AUTHORV,69,32,90,12,ES_AUTOHSCROLL|ES_LEFT
 GROUPBOX "Informations",-1,9,5,160,47,WS_GROUP | WS_TABSTOP

 LTEXT "Title :"ID_TITLE,14,70,60,11,WS_GROUP | WS_TABSTOP
 LTEXT "Infect Folder 1 :",ID_FOLDER1,14,85,60,11,WS_GROUP | WS_TABSTOP
 LTEXT "Infect Folder 2 :",ID_FOLDER2,14,100,60,11,WS_GROUP | WS_TABSTOP
 LTEXT "Infect Folder 3 :",ID_FOLDER3,14,115,60,11,WS_GROUP | WS_TABSTOP
 EDITTEXT IDM_TITLE,69,70,90,12,ES_AUTOHSCROLL|WS_GROUP | WS_TABSTOP
 EDITTEXT IDM_FOLDER1,69,85,90,12,ES_AUTOHSCROLL|WS_GROUP | WS_TABSTOP
 EDITTEXT IDM_FOLDER2,69,100,90,12,ES_AUTOHSCROLL|WS_GROUP | WS_TABSTOP
 EDITTEXT IDM_FOLDER3,69,115,90,12,ES_AUTOHSCROLL|WS_GROUP | WS_TABSTOP
 GROUPBOX "Virus Properties",-1,9,58,160,77,WS_GROUP | WS_TABSTOP

 LTEXT "Owner :"ID_OWNER,14,143,60,11,WS_GROUP | WS_TABSTOP
 LTEXT "Organization :",ID_ORG,14,158,60,11,WS_GROUP | WS_TABSTOP
 EDITTEXT IDM_OWNER,69,143,90,12,ES_AUTOHSCROLL|WS_GROUP | WS_TABSTOP
 EDITTEXT IDM_ORG,69,158,90,12,ES_AUTOHSCROLL|WS_GROUP | WS_TABSTOP
// GROUPBOX "Virus Payload",-1,9,118,160,47,WS_GROUP | WS_TABSTOP

 DEFPUSHBUTTON "Generate",IDM_GENVIRUS,5,180,80,15, WS_GROUP|WS_TABSTOP
 PUSHBUTTON "EXIT",IDM_CLOSE,93,180,80,15, WS_GROUP|WS_TABSTOP
}
