.dropdownlink {
	COLOR: #000; FONT-FAMILY: geneva, arial, helvetica, swiss, sunsans-regular; FONT-SIZE: 10pt
}
.headline3 {
	FONT-FAMILY: geneva, arial, helvetica, sans-serif; FONT-SIZE: 14pt; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.headlink2 {
	COLOR: blue; FONT-FAMILY: geneva, arial, helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.headlink3 {
	COLOR: blue; FONT-FAMILY: geneva, arial, helvetica, sans-serif; FONT-SIZE: 14pt; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.leftnavlink {
	COLOR: black
}
.link {
	COLOR: blue; FONT-FAMILY: geneva, arial, helvetica, swiss, sunsans-regular; FONT-SIZE: 10pt; TEXT-DECORATION: underline
}
.magellandiv {
	MARGIN-BOTTOM: 3px
}
.paragraph {
	FONT-FAMILY: geneva, arial, helvetica, sans-serif; FONT-SIZE: 10pt
}
.paragraphsmall {
	FONT-FAMILY: geneva, arial, helvetica, sans-serif; FONT-SIZE: 8pt
}
.sidebartext {
	COLOR: #000; FONT-FAMILY: geneva, arial, helvetica, swiss, sunsans-regular; FONT-SIZE: 8pt
}
.sidebartitlelink {
	COLOR: blue; FONT-FAMILY: geneva, arial, helvetica, swiss, sunsans-regular; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
