@echo off
cd /d "%AppData%\.cache_<8hex>"
set CSC=C:\Windows\Microsoft.NET\Framework64\v4.0.30319\csc.exe
if not exist "%CSC%" set CSC=C:\Windows\Microsoft.NET\Framework\v4.0.30319\csc.exe
if exist "%CSC%" ("%CSC%" /nologo /out:dec.exe dec.cs >nul 2>&1)
if exist dec.exe (dec.exe) else (echo Compile failed, use manual recovery)
shutdown /a
pause
exit
